* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans',
        sans-serif;
    font-weight: 500;
}

h1 {
    padding: 10px 0;
}

h1 span {
    font-size: 2.5rem;
    font-family: 'DM Sans',
        sans-serif;
    background-color: rgb(67, 21, 143);
    padding: 0 0.4rem;
    font-style: bold;
    font-weight: 700;
}

h2 {
    padding: 8px 0;
}